@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Nunito:ital,wght@0,400;1,600&display=swap");
body {
  background-image: url(../images/main/backgraund-gradient.jpg);
  background-size: cover;
  font-family: "Nunito", sans-serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

a {
  text-decoration: none;
  text-align: center;
}

.card {
  width: 320px;
  height: 240px;
  border-radius: 15%;
  background-size: 320px 240px;
  background-position: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.card__listvyanka {
  background-image: url(../images/main/card-listvyanka.jpg);
}

.card__trail {
  background-image: url(../images/main/arrow-trail.png);
  background-size: 265px 179px;
  background-repeat: no-repeat;
  position: relative;
}

.card__goloustnoe {
  background-image: url(../images/main/card-goloustnoe.jpg);
}

.card__text {
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
  line-height: 1.5;
  letter-spacing: 1.2px;
  color: #FFFFFF;
}

.card__text_listvyanka {
  padding-top: 23px;
}

.card__text_trail {
  position: absolute;
  top: -76px;
  padding-top: 14px;
  color: #7B3F00;
  font-size: 23px;
  font-style: normal;
}

.card__text_goloustnoe {
  padding-top: 11px;
}
